body{
	font-family:Arial;
	font-size:1.5em;
	color: black;
	width:770px;
	margin-left:30%;
	margin-right:30%;
	margin-top:2%;
	margin-bottom:10%;
}

#navegacion {
	height: 100px;
	margin: auto;
	text-align: center;
	background-image:url("cabecera.jpg");
}

.nav{
	position: relative;
	top: 30px;
	color:red;
}

.nav:hover {
	color:red;
}

#principal {
	width:430px;
	float:left;
	text-align: justify;
  text-justify: inter-word;
}

.foto {
	display:block;
	margin: auto;
	margin-bottom:0.7em;
}

#contenido_secundario {
	width:150px;
	float: left;
	margin-bottom:0.7em;
	border-radius:0.5em;
}

#lateral_derecho {
	width:130px;
	margin: auto;
	float: right;
}

#pie{
	float:left;
	margin-top: 0.5em;
}

.default td {
	padding: .2em .8em;
	border: 1px solid rgba(16,76,167,.25);
	background: rgba(90,156,255,.25);
	text-align: left;
}

td a:visited {
	color:green;
}

td a {
	color:green;
}

p {
	margin-top:0.5em;
}

h1 {
	text-align: center;
}

.link:hover {
	color:red;
}

.h:hover {
   color: red;
   background-color: #f0efed;
}

a:visited {
  color: blue;
}

ol {
	list-style-type: circle;
}
