body{
	font-family: Arial;
	font-size: 1.5em;
	color: black;
	width: 770px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 2%;
	margin-bottom: 10%;
}

#navegacion { 
	height: 100px;
	margin: auto;
	text-align: center;
	padding: 0.3em;
	margin-bottom: 0.7em;
	background-image:url("cabecera.jpg");
}

#navegacion a{ 
	position: relative;
	top: 30px;
	color:blue;
}

#navegacion a:hover {
	color:red;
	background-color: #f0efed;
}

#principal {
	width:430px;
	float:left;
	text-align: justify;
	text-justify: inter-word;
}

.foto {
	display:block;
	margin: auto;
	margin-bottom:0.5em;
}

#contenido_secundario {
	padding-left:25px;
	width:170px;
	float: left;
	margin-bottom:0.7em;
	border-radius:0.5em;
}

#lateral_derecho {
	width:130px;
	margin: auto;
	float: right;
}

#lateral_derecho a:hover {
	color: red;
 } 

#contenido_secundario a:hover {
	
	color: red;
 } 

#pie{
	padding-top:50px;
	float:left;
	margin-top: 0.5em;
}

#pie a:hover {
	color:red;
}

a:hover {
	color:red;
}

h3 a:hover {
	color:red;
}

.default td {
	padding: 0.2em 0.8em;
	border: 1px solid rgba(16,76,167,.25);
	background: rgba(90,156,255,.25);
	text-align: left;
}

td a:visited {
	color:green;
}

td a {
	color:green;
}

p {
	margin-top:0.5em;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

a:visited {
  color: blue;
}

ol {
	list-style-type: disc;
}

#menu {
	padding: 0.3em;
	margin-bottom: 0.7em;
}
article{
	display:block;
	float:right;
	margin-left:12px:
}
